/* Estilos para la página de inicio de sesión */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e6f7ff; /* Azul claro */
    color: #333;
}

header {
    background-color: #cceeff; /* Azul claro */
    color: #003366; /* Azul oscuro */
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    color: #003366; /* Azul oscuro */
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #003366; /* Azul oscuro */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.btn-submit {
    background-color: #003366; /* Azul oscuro */
    color: #fff; /* Blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.btn-submit i {
    margin-right: 10px;
}

.btn-submit:hover {
    background-color: #002244; /* Azul más oscuro */
    transform: scale(1.05); /* Efecto de zoom */
}

.signup-link {
    margin-top: 20px;
}

.signup-link a {
    color: #003366; /* Azul oscuro */
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

footer {
    background-color: #cceeff; /* Azul claro */
    color: #003366; /* Azul oscuro */
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
